RewriteEngine On
 

 
RewriteCond %{REQUEST_FILENAME} !-f 

RewriteCond %{REQUEST_FILENAME} !-d
 
RewriteRule ^(.*)$ index.php?url=$1 [QSA]



<Files *.php> 
    deny from all
</Files>
Options -Indexes

<Files "index.php">
    Order Allow,Deny
    Allow from all
</Files>




